<div id="prestations" class="prestation-item mt-1 text-center">
  <ng-container>
    <div class="prestation-container">
      <div class="image-container col-12">
        <img *ngIf="firstPrestation && firstPrestation.title" [src]="firstPrestationExtraImageUrl" alt="Extra Image 1" class="card-img-background extra-image">
        <!-- Assurez-vous que firstPrestation et firstPrestation.title sont définis avant d'accéder à ses propriétés -->
        <h3 *ngIf="firstPrestation && firstPrestation.title" class="card-title">{{ firstPrestation.title.rendered }}</h3>
      </div>
      <!-- Première Prestation -->
      <section class="container mt-10 px-0" *ngIf="firstPrestation && firstPrestation.content">
        <div>
          <p [innerHTML]="sanitizeHtml(firstPrestation.content.rendered)"></p>
        </div>
      </section>
      <!-- Deuxième Prestation -->
      <section class="container mt-10 px-0" *ngIf="secondPrestation && secondPrestation.content">
        <div>
          <p [innerHTML]="sanitizeHtml(secondPrestation.content.rendered)"></p>
        </div>
      </section>
      <!-- Troisième Prestation -->
      <section class="container my-10 px-0" *ngIf="thirdPrestation && thirdPrestation.content">
        <div>
          <p [innerHTML]="sanitizeHtml(thirdPrestation.content.rendered)"></p>
        </div>
      </section>
    </div>
  </ng-container>
</div>
