

<div class="container mt-4">

  <div class="text-center mb-4">
    <img src="assets/img/logo-noir-ss-fond-cercle-epais.png" class="mt-12" alt="Logo" width="120" height="120">
  </div>
  <!-- Conditions Générales de Vente (CGV) -->
  <div id="cgv" class="mb-4 mt-10 px-10 pb-10">
    <h3 class="ml-5 text-center">Conditions Générales de Vente (CGV) - Maison Ah-Rong</h3>
    <ol>
      <li class="mt-8"><strong>OBJET</strong><br>
        Les présentes conditions générales de vente ont pour objet de définir les modalités de vente et de prestation de services proposées par Maison Ah-Rong.
      </li>
      <li class="mt-5"><strong>PRESTATIONS PROPOSÉES</strong><br>
        Maison Ah-Rong propose des services de bien-être, de thérapies énergétiques, de massages et autres prestations visant à favoriser l'harmonie intérieure et le bien-être physique et émotionnel de ses clients.
      </li>
      <li class="mt-5"><strong>RÉSERVATIONS</strong><br>
        Les réservations peuvent être effectuées en ligne via le site web de Maison Ah-Rong ou par d'autres moyens de communication mis à disposition. Les clients reconnaissent avoir pris connaissance des conditions générales de vente avant de faire une réservation.
      </li>
      <li class="mt-5"><strong>PRIX ET MODALITÉS DE PAIEMENT</strong><br>
        Les prix des prestations sont indiqués sur le site web de Maison Ah-Rong. Les modalités de paiement sont définies lors de la commande.
      </li>
      <li class="mt-5"><strong>CONFIRMATION DE COMMANDE</strong><br>
        Un email de Maison Ah-Rong vous sera envoyé afin de confirmer votre réservation.
      </li>
      <li class="mt-5"><strong>ANNULATION ET REMBOURSEMENT</strong><br>
        Les conditions d'annulation et de remboursement sont définies en fonction du type de prestation. Les clients sont invités à prendre connaissance de ces conditions avant de passer commande.
      </li>
      <li class="mt-5"><strong>RESPONSABILITÉ</strong><br>
        Maison Ah-Rong décline toute responsabilité en cas de dommages, de pertes ou de blessures résultant de l'utilisation des services proposés. Les clients reconnaissent que leur participation aux prestations se fait à leurs propres risques.
      </li>
      <li class="mt-5"><strong>MODIFICATION DES CGV</strong><br>
        Maison Ah-Rong se réserve le droit de modifier les présentes conditions générales de vente. Les clients seront informés de toute modification.
      </li>
      <li class="mt-5"><strong>LITIGES</strong><br>
        En cas de litige, les parties s'efforceront de trouver une solution amiable. À défaut, le litige sera porté devant les tribunaux compétents conformément à la législation en vigueur.
      </li>
    </ol>
  </div>

  <!-- Conditions Générales d'Utilisation (CGU) -->
  <div id="cgu" class="px-10 pt-7 pb-10">
    <h3 class="ml-5 text-center">Conditions Générales d'Utilisation (CGU) - Maison Ah-Rong</h3>
    <ol>
      <li class="mt-8"><strong>ACCEPTATION DES CONDITIONS GÉNÉRALES D'UTILISATION</strong><br>
        L'utilisation du site web de Maison Ah-Rong est soumise à l'acceptation sans réserve des présentes conditions générales d'utilisation.
      </li>
      <li class="mt-5"><strong>UTILISATION DU SITE</strong><br>
        Les utilisateurs s'engagent à utiliser le site de manière conforme à la législation en vigueur, de manière honnête et respectueuse des droits de Maison Ah-Rong et des tiers. Ils s'engagent à ne pas perturber le fonctionnement normal du site.
      </li>
      <li class="mt-5"><strong>PROPRIÉTÉ INTELLECTUELLE</strong><br>
        Tous les contenus présents sur le site, tels que les textes, images, vidéos, logos, sont la propriété exclusive de Maison Ah-Rong. Toute reproduction, distribution, ou utilisation non autorisée de ces contenus est strictement interdite.
      </li>
      <li class="mt-5"><strong>RESPONSABILITÉ DE L'UTILISATEUR</strong><br>
        L'utilisateur est seul responsable de l'utilisation qu'il fait du site. Maison Ah-Rong décline toute responsabilité en cas de dommages directs ou indirects résultant de l'utilisation du site.
      </li>
      <li class="mt-5"><strong>LIENS EXTERNES</strong><br>
        Le site de Maison Ah-Rong peut contenir des liens vers des sites tiers. Maison Ah-Rong n'assume aucune responsabilité quant au contenu ou à la politique de confidentialité de ces sites externes.
      </li>
      <li class="mt-5"><strong>MODIFICATIONS DU SITE</strong><br>
        Maison Ah-Rong se réserve le droit de modifier, interrompre ou suspendre tout ou partie du site sans préavis. Les utilisateurs reconnaissent que Maison Ah-Rong n'est pas responsable des conséquences de telles modifications.
      </li>
      <li class="mt-5"><strong>POLITIQUE DE CONFIDENTIALITÉ</strong><br>
        La politique de confidentialité de Maison Ah-Rong régit la collecte, le traitement et l'utilisation des données personnelles des utilisateurs. Les utilisateurs sont invités à la consulter pour comprendre comment leurs données sont gérées.
      </li>
      <li class="mt-5"><strong>MODIFICATION DES CGU</strong><br>
        Maison Ah-Rong se réserve le droit de modifier les présentes conditions générales d'utilisation. Les utilisateurs seront informés de toute modification.
      </li>
      <li class="mt-5"><strong>LOI APPLICABLE ET JURIDICTION</strong><br>
        Les présentes CGU sont régies par la loi applicable. En cas de litige, les tribunaux compétents seront ceux déterminés par la législation en vigueur.
      </li>
    </ol>
  </div>
</div>
