<header id="header">
  <nav class="navbar nav-bg-custom bg-green text-grey align-items-center">
    <div class="container justify-content-end">
      <ul class="navbar-nav d-flex flex-row align-items-center">
        <li class="nav-item mx-8 nav-item-logo">
          <a class="nav-link text-light nav-hover-link" href="#home">Maison Ah-Rong</a>
        </li>
        <li class="nav-item mx-8">
          <a class="nav-link text-light nav-hover-link" href="#presentation">Présentation</a>
        </li>
        <li class="nav-item mx-8">
          <a class="nav-link text-light nav-hover-link" href="#soins">Soins</a>
        </li>
        <li class="nav-item mx-8">
          <a class="nav-link text-light nav-hover-link" href="#prestations">Prestations</a>
        </li>
        <li class="nav-item mx-8">
          <a class="nav-link text-light nav-hover-link" href="#booking">Prendre rendez-vous</a>
        </li>
        <li class="nav-item mx-8">
          <a class="nav-link text-light nav-hover-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item mx-8">
          <a href="https://www.instagram.com/maison_ah_rong/" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/instagram-blanc.png" alt="Instagram" style="height: 22px; width: 22px;">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Menu pour les écrans de 425px ou moins -->
  <nav class="mobile-menu">
    <button id="menu-toggle" class="menu-toggle">
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
    </button>
         
    <div class="menu-items pb-5">
      <a href="#home">Maison Ah-Rong</a>
      <a href="#presentation">Présentation</a>
      <a href="#soins">Soins</a>
      <a href="#prestations">Prestations</a>
      <a href="#booking">Prendre rendez-vous</a>
      <a href="#contact">Contact</a>
      <a href="https://www.instagram.com/maison_ah_rong/" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/instagram-blanc.png" alt="Instagram" style="height: 22px; width: 22px;">
      </a>
    </div>
  </nav>
</header>