@import "src/styles/_variables.scss";

body {
    font-family: 'Muli', sans-serif !important;
    color: map-get($colors, tinted-black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora' !important;
}

.cursor-p {
    cursor: pointer;
}

.btn {
    font-family: 'Sora' !important;
    text-transform: none !important;
}

.btn-default {
    //background-color: map-get($colors, deep-blue);
    color: white;
    font-weight: bold;
    border-radius: 0.6rem;
    font-size: 0.85rem;
    letter-spacing: 0;
}