@import "./_variables.scss";
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Cinzel", sans-serif;
  color: map-get($colors, grey);
  background-color: map-get($theme-colors, background-grey);
  overflow-x: hidden !important;
  main {
    overflow: hidden !important;
    width: 100%;
  }
}
.btn {
  font-family: "Raleway", sans-serif;
  text-transform: none;
  width: fit-content;
  background-color: map-get($theme-colors, "grey");
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.6rem;
  font-size: map-get($font-size, m);
  letter-spacing: 0;
  &-grey {
    padding: 1.25rem 2rem;
  }
  &-light {
    padding: 0.5rem 2rem;
  }
}

h1 {
  @extend .text-grey;
  @extend .text-fw-x-bold;
  @extend .text-fs-70;
  font-family: "Cinzel", sans-serif;
}
h2 {
  @extend .text-grey;
  @extend .text-fw-xx-bold;
  @extend .text-fs-60;
  font-family: "Cinzel", sans-serif;
}
h3 {
  @extend .text-grey;
  @extend .text-fw-bold;
  @extend .text-fs-50;
  font-family: "Cinzel", sans-serif;
}

.small-title {
  color: map-get($theme-colors, "grey");
  font-size: map-get($font-size, 40);
  font-weight: map-get($font-weight, bold);
  text-transform: uppercase;
  margin-bottom: 0;
}
p ul li {
  @extend .text-grey;
  @extend .text-fs-s;
  font-family: "Cinzel", sans-serif;
}

.card-text-img {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .wp-block-image {
        padding-left: 10rem;
    }
    .wp-block-group {
        display: flex;
        flex-direction: row;
        align-items: center
    }
}

.card-img-text {
    align-items: center;

    .wp-block-image {
        padding-right: 3rem;
    }

    .wp-block-group {
        display: flex;
        flex-direction: row;
        align-items: center
    }
}


// TEXT & TITLES
.text-black-blue {
    color: map-get($theme-colors, 10);
}
.text-fw-xx-bold {
    font-weight: map-get($font-weight, xx-bold);
}

// FS
.text-fs-lgx {
    font-size: map-get($font-size, lgx);
}
.text-fs-md-xl {
    font-size: map-get($font-size, md-xl);
}
.text-fs-md {
    font-size: map-get($font-size, md);
}
.text-fs-m {
    font-size: map-get($font-size, m);
}
.text-fs-sm {
    font-size: map-get($font-size, sm);
}
.text-fs-s {
    font-size: map-get($font-size, s);
}
.text-fs-xs {
    font-size: map-get($font-size, xs);
}


// FW

.text-fw-x-bold {
    font-weight: map-get($font-weight, x-bold);
}
.text-fw-medium {
    font-weight: map-get($font-weight, medium);
}
.mb-lg {
    margin-bottom: map-get($spacers, 7);
}
.mb-m {
    margin-bottom: map-get($spacers, 3);
}
.text-fw-bold {
    font-weight: map-get($font-weight, bold);
}

.nav-bg-custom {
    height: 10vh;
}

.section-offset {
  //padding-top: 100px; 
  margin-top: -100px; 
}


.border-container-prestations {
  border: 1px solid map-get($theme-colors, grey) !important;
  padding: 10px !important;
  box-sizing: border-box !important;
}

header#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 1s ease-in-out; // Ajoute une transition à la propriété top
}

header#header.hide {
  top: -100%; 
}

.nav-item {
  transition: all 0.2s ease;
  .nav-hover-link {
    padding-bottom: 2px; 
    &:hover {
      color: map-get($theme-colors, light-pink) !important;
      border-bottom: 1px solid map-get($theme-colors, light-pink);
    }
  }
}

  