<div id="footer" class="footer-item mt-1 text-center">
  <div class="bg-green text-white pt-lg-9 pb-lg-5 p-5">
    <div class="container">
      <div class="row">
        <div class="logo-name col-lg-3 p-5 p-lg-none flex-column">
          <img src="assets/img/logo-blanc-ss-fond-cercle-epais.png" alt="Logo" width="100" height="100">
        </div>
        <div class="location d-flex flex-column col-lg-3 p-3 p-lg-5">
          <p class="text-fw-xx-bold mb-lg-5 mb-5">ME TROUVER</p>
          <p class="mb-2">12 rue Huguerie</p>
          <p>33000 Bordeaux</p>
        </div>
        <div class="contact d-flex flex-column col-lg-3">
          <p class="text-fw-xx-bold mb-lg-5 m-5">ME CONTACTER</p>
          <p class="mb-5">06 81 71 53 04</p>
          <p>maisonahrong&#64;gmail.com</p>
        </div>
        <div class="social-icons col-lg-3 flex-column">
          <p class="text-fw-xx-bold mb-lg-5 m-5">ME SUIVRE</p>
          <div class="icons">
            <a href="https://www.instagram.com/maison_ah_rong/" target="_blank" rel="noopener noreferrer" class="mr-3">
              <img src="assets/img/instagram-blanc.png" alt="Instagram" width="30" height="30">
            </a>
            <a href="https://www.facebook.com/maisonahrong" target="_blank" rel="noopener noreferrer">
              <img src="assets/img/facebook-blanc.png" alt="Facebook" width="30" height="30">
            </a>
          </div>
        </div>
      </div>
      <div class="row border-top mt-7">
        <div class="col-lg-3 mt-3">
          <p class="text-fs-40 pt-6">MAISON AH-RONG</p>
        </div>
        <div class="col-lg-9 mt-3">
          <div class="d-flex justify-content-between flex-column flex-lg-row align-items-center text-center">
            <p class="text-fs-20 p-lg-6 p-2"><a [routerLink]="['/cgv-cgu']">CGV-CGU</a></p>
            <p class="text-fs-20 p-lg-6 p-2"><a [routerLink]="['/mentions-legales']">Mentions légales</a></p>
            <p class="text-fs-20 p-lg-6 p-2"><a [routerLink]="['/politique-de-confidentialite']">Politique de confidentialité</a></p>
            <p class="text-fs-20 p-lg-6 p-2"><a [routerLink]="['/conditions-utilisation']">Conditions d'utilisation</a></p>
          </div>
        </div>
      </div>         
    </div>
  </div>
</div>
