@import "/src/styles/variables.scss";

.booking-item {
    .common-input-style {
        width: 250px;
        box-sizing: border-box;
    }

    .mat-input-components {
        margin-bottom: 4px; 
        position: relative;
        transition: margin 0.5s ease-in-out;
      
        .error-message {
          transition: margin 0.5s ease-in-out; 
          margin-top: 5px; 
          margin-bottom: 0; 
          color: map-get($theme-colors, danger);
        }
      
        &.ng-invalid .error-message {
          margin-top: 10px; 
          margin-bottom: 10px; 
        }
    }

    .btn {
      background-color: map-get($theme-colors, primary)!important;
    }

    @media (max-width: 992px) {
      .col-md-7,
      .col-md-5 {
        flex-direction: column;
      }
    }
}
