@import "/src/styles/variables.scss";

.booking-item {
    .common-input-style {
        width: 250px;
        box-sizing: border-box;
    }

    .mat-input-components {
        margin-bottom: 4px; 
        position: relative;
        transition: margin 0.5s ease-in-out;
      
        .error-message {
          transition: margin 0.5s ease-in-out; 
          margin-top: 5px; 
          margin-bottom: 0; 
          color: map-get($theme-colors, danger);
        }
      
        &.ng-invalid .error-message {
          margin-top: 10px; 
          margin-bottom: 10px; 
        }
    }

    .btn {
      background-color: map-get($theme-colors, primary)!important;
    }

    // Pour les écrans jusqu'à 992px
    @media (max-width: 992px) {
      .container-block {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    // Pour les écrans à partir de 993px
    @media (min-width: 993px) {
      .col-lg-7 label.col-form-label {
          text-align: left; // Alignement du texte à gauche pour les écrans larges
      }
    }

    // Pour les écrans jusqu'à 992px
    @media (max-width: 992px) {
      .col-lg-7 label.col-form-label {
          text-align: center; // Alignement du texte au centre pour les écrans étroits
      }
    }
}
