<div id="booking" class="booking-item mt-1 mb-10 text-center">
  <div class="background-booking bg-light-pink p-8">
    <div class="container d-flex justify-content-center px-7">
      <div class="col-7">
        <p class="text-fs-40 text-fw-bold">Pour prendre rendez-vous avec moi à MAISON AH-RONG</p>
        <p class="text-fs-30">vous êtes prié(e) de remplir le formulaire suivant.<br>Merci.</p>
      </div>
      <div class="col-5">
        <form [formGroup]="bookingForm" (ngSubmit)="sendEmail()">

          <!-- Champ Nom -->
          <div class="d-flex justify-content-between form-group mat-input-components">
            <div class="row col-7">
              <label for="first_name" class="d-flex justify-content-start">Prénom</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <input type="text" id="first_name" formControlName="first_name" placeholder="Prénom" required class="common-input-style" />
                <div *ngIf="bookingForm.get('first_name')?.touched && bookingForm.get('first_name')?.invalid" class="col-12 d-flex justify-content-start text-fs-10 error-message">
                  {{ errorMessages.first_name }}
                </div>
              </div>
            </div>
          </div>

          <!-- Champ Prénom -->
          <div class="d-flex justify-content-between form-group mat-input-components mt-3">
            <div class="row col-7">
              <label for="last_name" class="d-flex justify-content-start">Nom</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <input type="text" id="last_name" formControlName="last_name" placeholder="Nom" required class="common-input-style" />
                <div *ngIf="bookingForm.get('last_name')?.touched && bookingForm.get('last_name')?.invalid" class="d-flex justify-content-start text-fs-10 error-message">
                  {{ errorMessages.last_name }}
                </div>
              </div>
            </div>
          </div>

          <!-- Champ Adresse e-mail -->
          <div class="d-flex justify-content-between form-group mat-input-components mt-3">
            <div class="row col-7">
              <label for="email" class="d-flex justify-content-start">Adresse e-mail</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <input type="email" id="email" formControlName="email" placeholder="Adresse e-mail" required class="common-input-style" />
                <div *ngIf="bookingForm.get('email')?.touched && bookingForm.get('email')?.invalid" class="d-flex justify-content-start text-fs-10 error-message">
                  {{ errorMessages.email }}
                </div>
              </div>
            </div>
          </div>

          <!-- Champ Date et heure du rendez-vous -->
          <div class="d-flex justify-content-between form-group mat-input-components mt-3">
            <div class="row col-7">
              <label for="booking_date" class="d-flex justify-content-start">Date et heure du rendez-vous</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <input type="datetime-local" id="booking_date" formControlName="booking_date" placeholder="Date et heure du rendez-vous" required class="common-input-style" />
                <div *ngIf="bookingForm.get('booking_date')?.touched && bookingForm.get('booking_date')?.invalid" class="d-flex justify-content-start text-fs-10 error-message">
                  {{ errorMessages.booking_date }}
                </div>
              </div>
            </div>
          </div>

          <!--Choix du massage -->
          <div class="d-flex justify-content-between form-group mat-input-components mt-3">
            <div class="row col-7">
              <label for="massage_type" class="d-flex justify-content-start">Type de massage</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <select id="massage_type" formControlName="massage_type" placeholder="Type de massage" required class="common-input-style mat-input-components">
                  <option value="chi_nei_tsang">Chi Nei Tsang</option>
                  <option value="energetic_massage">Massothérapie énergétique</option>
                  <option value="korean_relaxation">Relaxation Coréenne</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Pour le type de massage "Chi Nei Tsang" -->
          <div *ngIf="bookingForm && bookingForm.get('massage_type')?.value === 'chi_nei_tsang'" class="d-flex justify-content-between form-group mat-input-components mt-3">
            <div class="row col-7">
              <label for="session_count_chi" class="d-flex justify-content-start">Nombre de séances</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <select id="session_count_chi" formControlName="session_count" placeholder="Nombre de séances" required class="common-input-style mat-input-components">
                  <option value="1">1 séance</option>
                  <option value="3">3 séances</option>
                  <option value="5">5 séances</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Pour le type de massage "Energetic Massage" -->
          <div *ngIf="bookingForm && bookingForm.get('massage_type')?.value === 'energetic_massage'" class="d-flex justify-content-between form-group mat-input-components mt-3">
            <div class="row col-7">
              <label for="session_count_energetic" class="d-flex justify-content-start">Nombre de séances</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <select id="session_count_energetic" formControlName="session_count" placeholder="Nombre de séances" required class="common-input-style mat-input-components">
                  <option value="1">1 séance</option>
                  <option value="3">3 séances</option>
                  <option value="5">5 séances</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Pour le type de massage "Korean Relaxation" -->
          <div *ngIf="bookingForm && bookingForm.get('massage_type')?.value === 'korean_relaxation'" class="d-flex justify-content-between form-group mat-input-components mt-3">
            <div class="row col-7">
              <label for="session_count_relax" class="d-flex justify-content-start">Nombre de séances</label>
            </div>
            <div class="row col-6">
              <div class="d-flex flex-column justify-content-start">
                <select id="session_count_relax" formControlName="session_count" placeholder="Nombre de séances" required class="common-input-style mat-input-components">
                  <option value="1">1 séance</option>
                </select>
              </div>
            </div>
          </div>
          <button class="btn btn-grey mt-7" type="submit">Réserver</button>
        </form>
      </div>  
    </div>
  </div>
</div>
