@import "/src/styles/variables.scss";

.soin-item {
  .soin-container {
    position: relative;

    .image-container {
      position: relative;

      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }

  .soin-section {
    position: relative;

        .section-rectangle-first {
            position: absolute;
            top: 0;
            left: 0;
            width: 95%; // Ajustez la largeur selon vos besoins
            height: 820px; // Ajustez la hauteur selon vos besoins
            opacity: 5%;
            background-color: transparent;
            z-index: -1; // Assurez-vous que le rectangle est en arrière-plan
            margin-left: 15%;
            margin-top: -5%;
        }

        .section-rectangle-second {
            position: absolute;
            top: 0;
            left: 0;
            width: 105%; // Ajustez la largeur selon vos besoins
            height: 410px; // Ajustez la hauteur selon vos besoins
            opacity: 5%;
            background-color: transparent; // Couleur de votre choix
            z-index: -1; // Assurez-vous que le rectangle est en arrière-plan
            margin-top: -2.3%;
        }

        .section-rectangle-third {
            position: absolute;
            top: 0;
            left: 0;
            width: 110%;
            height: 480px;
            opacity: 5%;
            background-color: transparent;
            z-index: -1; 
            margin-left: 5%;
            margin-top: -3.7%;
          }
    }

    .first-section .section-rectangle-first {
        background-color: map-get($theme-colors, first-orange);
    }

    .second-section .section-rectangle-second {
        background-color: map-get($theme-colors, second-orange);
    }

    .third-section .section-rectangle-third {
        background-color: map-get($theme-colors, third-orange);
    }
}

/* Animations */
.slide-in {
  animation: slideIn 10s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 13s ease-in-out forwards;
}

.zoom-in {
  animation: zoomIn 7s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Pour désactiver les animations lorsque les sections sont cachées */
.soin-section.hidden .slide-in,
.soin-section.hidden .fade-in,
.soin-section.hidden .zoom-in {
  animation: none;
}
