<div id="presentation" class="presentation-item mt-1 text-center">
  <!-- Première Présentation -->
  <ng-container>
    <div *ngIf="firstPresentation">
      <div class="presentation-container">
        <!-- Utilisation de col-12 pour maintenir la largeur complète -->
        <div class="image-container col-12">
          <img *ngIf="firstPresentationExtraImageUrl" [src]="firstPresentationExtraImageUrl" alt="Extra Image 1" class="card-img-background extra-image">
          <h3 class="card-title">{{ firstPresentation.title.rendered }}</h3>
        </div>
        <div class="container mt-10">
          <div class="row">
            <div class="px-0">
              <p [innerHTML]="sanitizeHtml(firstPresentation.content.rendered)" class="card-text-img"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div  class="container pt-10 px-0">
      <!-- Deuxième Présentation -->
      <div *ngIf="secondPresentation">
        <div class="row">
          <div class="px-0">
            <p [innerHTML]="sanitizeHtml(secondPresentation.content.rendered)" class="card-img-text"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-10 px-0">
      <!-- Troisième Présentation -->
      <div *ngIf="thirdPresentation">
        <div class="row">
          <div class="px-0">
            <p [innerHTML]="sanitizeHtml(thirdPresentation.content.rendered)" class="card-text-img"></p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
