<div id="presentation" class="presentation-item section-offset mt-1 text-center">
  <div class="presentation-container">
    <div class="image-container col-12">
      <img *ngIf="firstPresentationExtraImageUrl" [src]="firstPresentationExtraImageUrl" alt="Extra Image 1" class="card-img-background extra-image">
      <h3 class="card-title">{{ firstPresentation.title.rendered }}</h3>
    </div>
  </div>
  <ng-container>
    <div class="container mt-10 px-0">
      <!-- Première Présentation -->
      <div *ngIf="firstPresentation">
        <p [innerHTML]="sanitizeHtml(firstPresentation.content.rendered)" class="card-text-img"></p>
    </div>

    <div  class="container mt-10 px-0">
      <!-- Deuxième Présentation -->
      <div *ngIf="secondPresentation">
        <p [innerHTML]="sanitizeHtml(secondPresentation.content.rendered)" class="card-img-text"></p>
      </div>
    </div>

    <div class="container my-10 px-0">
      <!-- Troisième Présentation -->
      <div *ngIf="thirdPresentation">
        <p [innerHTML]="sanitizeHtml(thirdPresentation.content.rendered)" class="card-text-img"></p>
      </div>
    </div>
</div>
