<div id="presentation">
  <!-- Première Présentation -->
  <div *ngIf="firstPresentation">
    <h2>{{ firstPresentation.title.rendered }}</h2>
    <div [innerHTML]="sanitizeHtml(firstPresentation.content.rendered)"></div>
    <img *ngIf="firstPresentationImageUrl" [src]="firstPresentationImageUrl" alt="Image 1">
  </div>

  <!-- Deuxième Présentation -->
  <div *ngIf="secondPresentation">
    <div [innerHTML]="sanitizeHtml(secondPresentation.content.rendered)"></div>
    <img *ngIf="secondPresentationImageUrl" [src]="secondPresentationImageUrl" alt="Image 2">
  </div>

  <!-- Troisième Présentation -->
  <div *ngIf="thirdPresentation">
    <div [innerHTML]="sanitizeHtml(thirdPresentation.content.rendered)"></div>
    <img *ngIf="thirdPresentationImageUrl" [src]="thirdPresentationImageUrl" alt="Image 3">
  </div>
</div>
