@import "/src/styles/variables.scss";

.presentation-item {
  .presentation-container {
    position: relative;

    .image-container {
      position: relative;
      z-index: 2;
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .presentation-section {
      position: relative;
      z-index: 1;

    //  .section-rectangle-first {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 75%;
    //    height: 820px;
    //    opacity: 8%;
    //    background-color: transparent;
    //    z-index: -1; 
    //    margin-left: 2%;
    //    margin-top: -4%;
    //  }

    //  .section-rectangle-second {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 65%;
    //    height: 384px;
    //    opacity: 8%;
    //    background-color: transparent;
    //    z-index: -1; 
    //    margin-left: 28%;
    //    margin-top: -2.2%;
    //  }

    //  .section-rectangle-third {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 70%;
    //    height: 450px;
    //    opacity: 8%;
    //    background-color: transparent;
    //    z-index: -1; 
    //    margin-left: 5%;
    //    margin-top: -2%;
    //  }
    }

    .first-section .section-rectangle-first {
      background-color: map-get($theme-colors, first-orange);
    }

    .second-section .section-rectangle-second {
      background-color: map-get($theme-colors, second-orange);
    }

    .third-section .section-rectangle-third {
      background-color: map-get($theme-colors, third-orange);
    }
  }
}

/* Animations */
.slide-in {
  animation: slideIn 3s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 7s ease-in-out forwards;
}

.zoom-in {
  animation: zoomIn 9s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Ajout pour l'Intersection Observer */
.presentation-section.hidden {
  opacity: 0;
}

.presentation-section.visible {
  opacity: 1;
}

/* Pour désactiver les animations lorsque les sections sont cachées */
.presentation-section.hidden .slide-in,
.presentation-section.hidden .fade-in,
.presentation-section.hidden .zoom-in {
  animation: none;
}
