<div class="container mt-4">
  <!-- Logo -->
  <div class="text-center mb-4">
    <img src="assets/img/logo-noir-ss-fond-cercle-epais.png" alt="Logo" width="120" height="120">
  </div>

  <!-- Mentions Légales -->
  <div id="mentions-legales" class="px-10 pt-7 pb-10">
    <h3 class="ml-5">Mentions Légales - Maison Ah-Rong</h3>
    <ol>
      <li class="mt-8"><strong>ÉDITEUR DU SITE</strong><br>
        Nom de l'éditeur : [Votre nom ou le nom de votre entreprise]<br>
        Adresse : [Votre adresse]<br>
        Numéro de téléphone : [Votre numéro de téléphone]<br>
        Adresse e-mail : [Votre adresse e-mail]
      </li>
      <li class="mt-5"><strong>DÉVELOPPEUR DU SITE</strong><br>
        Développeur du site : Luc Jaubert<br>
        Coordonnées du développeur : lucjaubert&#64;gmail.com, +33760227855
      </li>
      <li class="mt-5"><strong>HÉBERGEUR</strong><br>
        Nom de l'hébergeur : société HOSTINGER INTERNATIONAL LT<br>
        Adresse : 61 Lordou Vironos Street, 6023 Larnaca, Chypre<br>
        Adresse e-mail : support&#64;hostinger.com
      </li>
      <li class="mt-5"><strong>NUMÉRO SIRET</strong><br>
        Numéro SIRET : [Votre numéro SIRET, si applicable]
      </li>
      <li class="mt-5"><strong>CAPITAL SOCIAL</strong><br>
        Capital social : [Montant du capital social, si applicable]
      </li>
      <li class="mt-5"><strong>DIRECTEUR DE LA PUBLICATION</strong><br>
        Nom et prénom du directeur de la publication : [Votre nom]
      </li>
      <li class="mt-5"><strong>COORDONNÉES DE CONTACT</strong><br>
        Adresse e-mail de contact : [Adresse e-mail de contact]<br>
        Numéro de téléphone de contact : [Numéro de téléphone de contact]
      </li>
      <li class="mt-5"><strong>NUMÉRO DE TVA INTRACOMMUNAUTAIRE</strong><br>
        Numéro de TVA intracommunautaire : [Votre numéro de TVA intracommunautaire, si applicable]
      </li>
      <li class="mt-5"><strong>POLITIQUE DE CONFIDENTIALITÉ</strong><br>
        Les utilisateurs sont invités à consulter notre <a href="lien vers la politique de confidentialité">Politique de Confidentialité</a> pour comprendre comment sont collectées, traitées et utilisées les données personnelles.
      </li>
      <li class="mt-5"><strong>PROPRIÉTÉ INTELLECTUELLE</strong><br>
        L'ensemble du contenu présent sur le site (textes, images, vidéos, logos) est la propriété exclusive de Maison Ah-Rong. Toute reproduction ou utilisation non autorisée est strictement interdite.
      </li>
      <li class="mt-5"><strong>LOI APPLICABLE ET JURIDICTION</strong><br>
        Les présentes mentions légales sont soumises à la loi applicable. En cas de litige, les tribunaux compétents seront ceux déterminés par la législation en vigueur.
      </li>
    </ol>
  </div>
</div>
