<div class="container mt-4">

  <div class="text-center mb-4">
    <img src="assets/img/logo-noir-ss-fond-cercle-epais.png" class="mt-12" alt="Logo" width="120" height="120">
  </div>

  <h3 class="text-center">POLITIQUE DE CONFIDENTIALITÉ</h3>

  <div class="text-center">
    <p>www.maisonahrong.com<br>Manuela Gaillardet</p>
  </div>

  <h5>Type de site : vitrine</h5>

  <h5 class="mt-8">Le but de cette politique de confidentialité</h5>
  <p>
    Le but de cette politique de confidentialité est d'informer les utilisateurs de notre site des données personnelles que nous recueillerons ainsi que les informations suivantes, le cas échéant :
  </p>

  <h5 class="mt-8">Les données personnelles que nous recueillerons</h5>
  <ol>
    <li class="mt-2">L’utilisation des données recueillies</li>
    <li class="mt-2">Qui a accès aux données recueillies</li>
    <li class="mt-2">Les droits des utilisateurs du site</li>
  </ol>

  <h5 class="mt-8">Lois applicables</h5>
  <p>
    Conformément au Règlement général sur la protection des données (RGPD), cette politique de confidentialité est conforme aux règlements suivants.
  </p>
  <ul>
    <li>Les données à caractère personnel doivent être :</li>
    <ol>
      <li class="mt-2">traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence) ;</li>
      <li class="mt-2">collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités ; le traitement ultérieur à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n'est pas considéré, conformément à l'article 89, paragraphe 1, comme incompatible avec les finalités initiales (limitation des finalités) ;</li>
      <li class="mt-2">adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;</li>
      <li class="mt-2">exactes et, si nécessaire, tenues à jour ; toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude) ;</li>
      <li class="mt-2">conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées ; les données à caractère personnel peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques conformément à l'article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures techniques et organisationnelles appropriées requises par le règlement afin de garantir les droits et libertés de la personne concernée (limitation de la conservation) ;</li>
      <li class="mt-2">traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).</li>
    </ol>
    <li class="mt-2">Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :</li>
    <ol>
      <li class="mt-2">la personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;</li>
      <li class="mt-2">le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;</li>
      <li class="mt-2">le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;</li>
      <li class="mt-2">le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>
      <li class="mt-2">le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;</li>
      <li class="mt-2">le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</li>
    </ol>
  </ul>
  <p>
    Pour les résidents de l’État de Californie, cette politique de confidentialité vise à se conformer à la California Consumer Privacy Act (CCPA). S’il y a des incohérences entre ce document et la CCPA, la législation de l’État s’appliquera. Si nous constatons des incohérences, nous modifierons notre politique pour nous conformer à la loi pertinente.
  </p>

  <h5 class="mt-8">Consentement</h5>
  <ul>
    <li>Les utilisateurs conviennent qu’en utilisant notre site, ils consentent à :</li>
    <ol>
      <li class="mt-2">les conditions énoncées dans la présente politique de confidentialité et</li>
      <li class="mt-2">la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.</li>
    </ol>
  </ul>

  <h5 class="mt-8">Données personnelles que nous collectons</h5>
  <p>
    Nous ne collectons, ne stockons ni n’utilisons aucune donnée utilisateur sur notre site. Dans le cas où nous avons besoin de recueillir vos données, nous veillerons à vous fournir un préavis de ce recueil de données.
  </p>

  <h5 class="mt-8">Modifications</h5>
  <p>
    Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de vérifier notre politique de temps à autre pour s’assurer qu’ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courriel des changements apportés à cette politique.
  </p>

  <h5 class="mt-8">Contact</h5>
  <ul>
    <li class="mt-2">Email: maisonahrong&#64;gmail.com</li>
    <li class="mt-2">Adresse: 12 rue huguerie, 33000 Bordeaux</li>
  </ul>

  <p class="mt-5">Date d’entrée en vigueur : le 18 janvier 2024</p>

  <p class="text-center my-10">© 2002-2024, DocumentsLégaux™ (Sequiter Inc.)</p>

</div>