<div class="container mt-4">

  <div class="text-center mb-4">
      <img src="assets/img/logo-noir-ss-fond-cercle-epais.png" class="mt-12" alt="Logo" width="120" height="120">
  </div>

  <h3 class="text-center">Conditions d'Utilisation - Maison Ah-Rong</h3>

  <p class="text-right mt-10">Dernière mise à jour : 18 janvier 2024</p>

  <p>Bienvenue sur maisonahrong.com, exploité par Maison Ah-Rong. Veuillez lire attentivement les conditions d'utilisation suivantes (les "Conditions") avant d'utiliser notre application.</p>

  <ol>
      <li class="mt-8"><strong>Acceptation des Conditions</strong><br>
          En utilisant notre application, vous acceptez d'être lié par ces Conditions. Si vous n'acceptez pas ces Conditions, veuillez ne pas utiliser notre application.
      </li>
      <li class="mt-8"><strong>Utilisation de l'Application</strong><br>
          Vous acceptez de n'utiliser l'application que à des fins légales et conformément à ces Conditions. Vous ne devez pas utiliser l'application d'une manière qui pourrait causer des dommages à notre entreprise ou à des tiers.
      </li>
      <li class="mt-8"><strong>Collecte et Utilisation des Données</strong><br>
          Nous collectons et utilisons vos données conformément à notre politique de confidentialité. En utilisant l'application, vous consentez à cette collecte et utilisation, et garantissez l'exactitude des informations fournies.
      </li>
      <li class="mt-8"><strong>Modifications des Conditions</strong><br>
          Nous nous réservons le droit de modifier ces Conditions à tout moment. Toute modification prendra effet dès sa publication sur cette page. Il est de votre responsabilité de vérifier régulièrement les mises à jour. En continuant d'utiliser l'application après de telles modifications, vous acceptez les Conditions modifiées.
      </li>
      <li class="mt-8"><strong>Limitation de Responsabilité</strong><br>
          Nous ne sommes pas responsables des dommages directs, indirects, particuliers, consécutifs ou punitifs résultant de votre utilisation de l'application.
      </li>
      <li class="mt-8"><strong>Loi Applicable</strong><br>
          Ces Conditions sont régies par les lois en vigueur. Tout litige sera soumis à la juridiction des tribunaux compétents.
      </li>
      <li class="mt-8"><strong>Contact</strong><br>
          Si vous avez des questions concernant ces Conditions, veuillez nous contacter à l'adresse suivante : [Votre Adresse Email].
      </li>
  </ol>

  <p class="mt-8">Merci de votre compréhension et de votre collaboration.</p>

  <p class="mt-8 mb-10">Maison Ah-Rong<br>
     12 rue Huguerie, 33000 Bordeaux<br>
     www.maisonahrong.com</p>

</div>