@import "/src/styles/variables.scss";

.home-section {
    position: relative;
    height: 100vh;
    max-height: 100vh; 
    overflow: hidden; 

    .video {
        width: 100%; 
        height: auto; 
        max-height: 100vh; 
        object-fit: cover; 
        position: absolute; 
        top: 0;
        left: 0; 
    }
    
    .logo-img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 30%; 
        max-height: 30%; 
    }
}


