<!--<div id="home" class="home-section">
    <img src="assets/img/background-home.png" alt="Img-background" class="background-image">
    <img src="assets/img/logo-blanc-ss-fond-cercle-epais.png" alt="Logo" class="logo-img">
</div>-->


<div id="home" class="home-section">
    <video autoplay muted loop playsinline preload="auto">
      <source src="assets/video/pergola-draps.mp4" type="video/mp4" class="video">
      Votre navigateur ne prend pas en charge la lecture vidéo.
    </video>
    <img src="assets/img/logo-blanc-ss-fond-cercle-epais.png" alt="Logo" class="logo-img">
  </div>
  